@font-face {
    font-family: Holla Mediaeval;
    src: url('../../public/fonts/HollaMediaeval.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Holla Mediaeval Bold;
    src: url('../../public/fonts/HollaMediaeval-Bold.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}